<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">

  <contextName>metis-sandbox</contextName>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{yyyy-MMM-dd HH:mm:ss} metis-sandbox %p [%thread] [%logger{36}] - %message%xException{150}%n</Pattern>
    </encoder>
  </appender>

  <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </appender>

  <logger name="eu.europeana" level="WARN"/>
  <logger name="eu.europeana.metis.sandbox" level="INFO"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.hibernate" level="ERROR"/>
  <logger name="org.mongodb.driver.connection" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="ASYNC-CONSOLE"/>
  </root>

</configuration>
