<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">

  <contextName>metis-sandbox</contextName>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{yyyy-MMM-dd HH:mm:ss} metis-sandbox %p [%thread] [%logger{36}] - %message%xException{150}%n</Pattern>
    </encoder>
  </appender>

  <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </appender>

  <springProfile name="dev,default">
    <logger name="eu.europeana.metis.sandbox" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="ERROR"/>
  </springProfile>

  <springProfile name="prod">
    <logger name="eu.europeana.metis.sandbox" level="INFO"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.amqp.rabbit.listener" level="INFO"/>
    <logger name="org.hibernate" level="ERROR"/>
  </springProfile>

  <root level="ERROR">
    <appender-ref ref="ASYNC-CONSOLE"/>
  </root>

</configuration>
